@model IEnumerable<GoWatch.Models.HomeEvent>

@{
    ViewBag.Title = "Index";
}
<br/><br /><br /><br /><br /><br />
                             <style>
                                 .button {
                                     border: none;
                                     color: black;
                                     padding: 7px 14px;
                                     font-size: 15px;
                                     cursor: pointer;
                                     background-color: #4CAF50;
                                 }
                             </style>
<form action="">
    <div class="form-group">
        <input type="text" class="form-control" name="SearchString" placeholder="Search your Team">
    </div>
    <button type="submit" style="background-color:sandybrown">Submit</button>

    
</form>
<br/><br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
       

        <td>

            @*@Html.ActionLink("Details", "EventDetails", new { id = item.EventID }) |*@
            @*@Html.ActionLink("Get Directions", "GetDirections", new { id = item.EventID })|*@
            <a href="/HomeEvent/EventDetails" class="button" style="background-color:sandybrown"> Details</a>|

            <a href="/HomeEvent/GetDirections" class="button" style="background-color:sandybrown"> Get Directions </a>|

          

        </td>
    </tr>
}

</table>
