
@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Charge</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charge</title>
</head>
<body>
    <div>
        <h2>You successfully paid </h2>
    </div>
</body>
</html>