<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            padding: 24px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both
        }

        .column-66 {
            float: left;
            width: 66.66666%;
            padding: 20px;
        }

        .column-33 {
            float: left;
            width: 33.33333%;
            padding: 20px;
        }

        .large-font {
            font-size: 48px;
        }

        .xlarge-font {
            font-size: 64px
        }

        .button {
            border: none;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
        }

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }


        img {
            margin: auto;
        }
    </style>
    <style>
        body {
            background-position: center;
            height: 20px;
            background-image: url('../../Images/DSC100324530.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            padding: 0px;
        }
    </style>
</head>
<body>

    <div style="text-align:center">

    </div>

    <!-- The App Section -->
    <div class="container">
        <div class="row">
            <div class="column-66">
                <font color=" #003300">   <h1 class="xlarge-font"><b>Home Events</b></h1></font>
                <h1 class="large-font" style="color:#003300;"><b>Why Sit alone ?</b></h1>
                <font color="rgba(114, 202, 164, 0.54)">   <p><span style="font-size:36px">Join your friends.</span> <h3> The Addresses are different, The keys are new, but the door is always open for friends like you</h3></p></font>
                <br />  <a href="/HomeEvent/Index" class="button" style="background-color:rgba(114, 202, 164, 0.54)"> View Home Events </a> ||  <a href="/HomeEvent/Create" class="button" style="background-color:rgba(114, 202, 164, 0.54)"> Create Your Events </a>
            </div>
            <div class="column-33">
                <img src="~/Images/homeevent.jpg" width="335" height="471" />

            </div>
        </div>
    </div>

    <!-- Clarity Section -->
    <div class="container" style="background-color:	rgba(0, 0, 0, 0.00)">
        <div class="row">
            <div class="column-33">
                <img src="~/Images/images.jpg" alt="Bar" width="535" height="571">
            </div>
            <div class="column-66">
                <font color=" #00334d">  <h1 class="xlarge-font"><b>Bar Events</b></h1></font>
                <h1 class="large-font" style="color:#00334d;"><b>Why not have fun?</b></h1>
                <font color="#00111a">  <p><span style="font-size:24px"> Party like a pro..</span> <h3>Browse all the bar events of you're favorite teams. Come and mingle with new members and friends  while enjoying game.</h3><br /></p>   </font>
                <br />  <a href="/BarEvent/BarIndex" class="button" style="background-color:#4dc3ff"> View Bar Events </a> || <a href="/BarEvent/CreateBarEvents" class="button" style="background-color:#4dc3ff"> Create Bar Events baby </a>

            </div>
        </div>
    </div>
    @*<div class="container">
        <div class="row">
            <div class="column-66">
                <font color=" #003300">   <h1 class="xlarge-font"><b>Home Events</b></h1></font>
                <h1 class="large-font" style="color:#003300;"><b>Why Sit alone ?</b></h1>
                <font color="rgba(114, 202, 164, 0.54)">   <p><span style="font-size:36px">Join your friends.</span> <h3> The Addresses are different, The keys are new, but the door is always open for friends like you</h3></p></font>
                <br />  <a href="/HomeEvent/Index" class="button" style="background-color:rgba(114, 202, 164, 0.54)"> View Home Events </a> ||  <a href="/HomeEvent/Create" class="button" style="background-color:rgba(114, 202, 164, 0.54)"> Create Your Events </a>
            </div>
            <div class="column-33">
                <img src="~/Images/homeevent.jpg" width="335" height="471" />

            </div>
        </div>
    </div>*@

    <!-- The App Section -->

</body>
</html>
