@model GoWatch.Models.GuestList

@{
    ViewBag.Title = "GuestListDetails";
}

<style>
     body {
         background-position: center;
         height: 20px;
         background-image: url('../../Images/15002.jpg');
         background-position: center;
         background-repeat: no-repeat, repeat;
         background-size: auto;
         padding: 50px;
     }
    </style>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Going)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Going)
        </dd>




    </dl>
</div>
